<nav style="z-index:2"class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span style="font-size:30px;cursor:pointer;color:white" (click)="toggleNav()">&#9776;</span>
  <img id="joystickNav" src="https://purepng.com/public/uploads/large/purepng.com-joystickgamepadgame-controlhandheld-controllervideo-games-controllerjoystick-1701528353777vdrm3.png" alt="joystick">
  <p id="joystickNavText" class="navbar-brand">Joystick Forums</p>
  <a class="navbar-brand" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
      <p *ngIf="isLoggedIn" style="color:lightblue">Logged in as: {{userName}}</p>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keydown)="search($event)" required>
    </form>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <a style="color:blue" routerLink="general">General Forums</a>
  <a style="color:red" routerLink="games">Specific Games Forums</a>
  <a style="color:yellow" routerLink="studios">Studio Specific Forums</a>
  <a style="color:violet" routerLink="offtopic">Off Topic Forums</a>
</div>

<div *ngFor="let post of posts">
  <div id="post" class='card-body'>
    <h3><em>{{post?.title}}</em></h3>
    <p>Posted: {{post?.dateCreated}}</p>
    <p>posted by: {{post?.userName}}</p>
  </div>
</div>
