<div class="card">
  <h2 class="card-header">{{(userForumToDisplay | async)?.title}}</h2>
  <div class="card-body">
    <h3 class="card-title">Subject: {{(userForumToDisplay | async)?.subject}}</h3>
    <p class="card-text">{{(userForumToDisplay | async)?.body}}</p>
    <p class="card-text">-{{(userForumToDisplay | async)?.dateCreated}}</p>
    <p class="card-text">posted by: {{(userForumToDisplay | async)?.userName}}</p>
  </div>
</div>
<div *ngFor="let currentComment of comments" class="comments card">
  <div class="card-body">
    <p class="card-text">{{currentComment.comment}}</p>
    <p class="card-text">posted by: {{currentComment.commentUserName}}</p>
    <p class="card-text">-{{currentComment.dateCommented}}</p>
  </div>
</div>
<button *ngIf="isLoggedIn" class="newPostButton btn btn-info" (click)="showCommentForm()">Comment</button>
<h5 class="notLoggedIn" *ngIf="!isLoggedIn">Please log in to comment</h5>
<div *ngIf="showCommentForum">
  <div class="card card-default">
    <div class="card-heading">
      <h3 class="card-title">Add Comment</h3>
    </div>
    <div class="card-body">
      <div>
        <div>
          <label>Comment:</label>
          <br>
          <input class="postInputs" #newComment>
        </div>
        <button
          (click)="addComment(newComment.value); newComment.value='';">Comment</button>
          <button (click)="hideCommentForm()">Hide</button>
      </div>
    </div>
  </div>
</div>