<!-- <div class="card">
  <p class="card-text">{{(userCommentToDisplay | async)?.comment}}</p>
</div>
<button *ngIf="isLoggedIn" class="newPostButton btn btn-info" (click)="showAddCommentForm()">Comment</button>
<p *ngIf="!isLoggedIn">Please log in to make a comment</p>
<div id="newForumForm" *ngIf="showCommentForum">
  <div class="card card-default">
    <div class="card-heading">
      <h3 class="card-title">Add Comment:</h3>
    </div>
    <div class="card-body">
      <div>
        <div>
          <label>Comment:</label>
          <br>
          <input class="postInputs" #newComment>
        </div>
        <button
          (click)="addComment(newComment.value); newComment.value='';">Add</button>
          <button (click)="hideAddCommentForm()">Hide</button>
      </div>
    </div>
  </div>
</div> -->