/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
}

body {
  background-image: url('https://archive-media-0.nyafuu.org/wg/image/1368/65/1368655026679.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
}

/* Forum Posts Styling */

#post {
  color: rgb(166, 171, 182);
  margin: 5px 5px 15px 0;
  box-shadow: 1px 2px #888888;
  border: 1px solid lightgrey;
  border-radius: 2%;
  width: 75%;
}

#post:hover {
  cursor: pointer;
  color: #F2F3F5;
  text-decoration: underline;
  text-shadow: .5px .5px black;
}

.postInputs {
  width: 100%;
}

.card-body {
  padding: 10px 10px 10px 10px;
}

.newPostButton {
  margin-top: 20px;
}

.forumHeader {
  color: skyblue;
  font-size: 50px;
  text-shadow: 1px 1px black;
}

/* Forum Details Styling */

.card {
  box-shadow: 2px 2px #888888;
}

/* Comments Styling */

.commentBtn {
  margin-top: 10px;
  margin-left: 3%;
}
.comments {
  margin-top: 20px;
  margin-left: 3%;
}