
.jumbotron {
  opacity: 0.5;
  background-image: url('https://static.tumblr.com/9bb2d561662dfffc230d85232a51cbea/9hifxkq/XB9nimlot/tumblr_static_3eaklsueo604w4sgo444skg0.gif');
  background-position-y: 25%;
}

.title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.forumsButtons {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 10px 20px 10px 20%;
  border-radius: 10%;
  width: 40%;
  font-family: 'Roboto',sans-serif;
  font-weight:1000;
  background-color:#FFFFFF;
  text-align: center;
  text-shadow: .5px .5px black;
  transition: all 0.15s;
  background-image: url('https://static.tumblr.com/9bb2d561662dfffc230d85232a51cbea/9hifxkq/XB9nimlot/tumblr_static_3eaklsueo604w4sgo444skg0.gif')
}

.forumsButtons:hover {
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color: black;
  border-color: skyblue;
}

#generalForumsButton {
  color:blue;
}

#studioForumsButton {
  color: rgb(68, 170, 68);
}

#gameSpecificForumsButton {
  color: red;
}

#offtopicForumsButton {
  color: violet;
}

.bouncy {
  animation: bouncy 4s infinite linear;
  position: relative;
  width: 200px;
  height: 150px;
}
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}