<div class="container">
  <div class="jumbotron">
    <h1 style="text-align: center">Welcome to the Joystick Forums!</h1>
    <h3 style="text-align: center">Click on any forum section to see or make posts</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a routerLink="general"><button class="bouncy forumsButtons" id="generalForumsButton">General Forums</button></a>
    </div>
    <div class="col-md-6">
      <a routerLink="studios"><button class="bouncy forumsButtons" id="studioForumsButton" style="animation-delay:0.2s">Game Studio Forums</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a routerLink="games"><button class="bouncy forumsButtons" id="gameSpecificForumsButton" style="animation-delay:0.5s">Game Specific Forums</button></a>
    </div>
    <div class="col-md-6">
      <a routerLink="offtopic"><button class="bouncy forumsButtons" id="offtopicForumsButton" style="animation-delay:0.8s">Off Topic Forums</button></a>
    </div>
  </div>
</div>