<div class="container">
  <h1 class="jumbotron jumbotron-fluid">Welcome to the Joystick Forums!</h1>
  <a routerLink="general"><button class="bouncy" id="generalForumsButton">General Forums</button></a>
  <a routerLink="studios"><button class="bouncy" id="studioForumsButton" style="animation-delay:0.2s">Game Studio Forums</button></a>
  <a routerLink="games"><button class="bouncy" id="gameSpecificForumsButton" style="animation-delay:0.5s">Game Specific Forums</button></a>
  <a routerLink="offtopic"><button class="bouncy" id="offtopicForumsButton" style="animation-delay:0.8s">Off Topic Forums</button></a>
</div>